<div class="dashboard-container border border-dark">
    <div class="row">
        <div class="col-3 left-container">
            <div [ngClass]="{'active' : (tab === 1)}" class="col-6 d-inline-block tab text-center"
                (click)="tab = 1; items = []; masterDataItems = []">
                Filter By
                Category
            </div>
            <div [ngClass]="{'active' : (tab === 2)}" class="col-6 d-inline-block tab text-center"
                (click)="tab = 2; items = []; masterDataItems = []">
                Filter By
                Ingredient</div>
            <div class="d-flex p-2">
                <input class="form-control" placeholder="Search By Name..." (keyup)="searchByKeywords($event)" />
            </div>
            <ng-container *ngIf="tab == 1">
                <div class="d-flex p-2">
                    <select class="form-control" (change)="changeCategory($event)">
                        <option value=''>Select Category</option>
                        <option *ngFor="let category of categoryList" [value]="category.strCategory">
                            {{category.strCategory}}</option>
                    </select>
                </div>
            </ng-container>

            <ng-container *ngIf="tab == 2">
                <div class="d-flex p-2">
                    <select class="form-control" (change)="changeIngredient($event)">
                        <option value=''>Select Ingredients</option>
                        <option *ngFor="let ingredient of ingredientList" [value]="ingredient.strIngredient1">
                            {{ingredient.strIngredient1}}</option>
                    </select>
                </div>
            </ng-container>

        </div>
        <div class="col-9 right-container">
            <ng-container *ngIf="isLoading; else showData">
                <div class="text-align loader"></div>
            </ng-container>
            <ng-template #showData>
                <ng-container *ngIf="items.length == 0; else dataFound">
                    <div class="text-center no-data">
                        Enhance your filter criteria
                    </div>
                </ng-container>
                <ng-template #dataFound>
                    <ng-container *ngFor="let item of items">
                        <div class="card w-25 d-inline-block p-2">
                            <img class="card-img-top" [src]="item.imgPreview" alt="{{item.strDrinkThumb}}">
                            <div class="card-body text-center">
                                <span class="card-text">{{item.strDrink}}</span>
                            </div>
                        </div>
                    </ng-container>
                </ng-template>
            </ng-template>
        </div>

    </div>

</div>